.footer {
  color: rgba(241, 232, 219, 1);
  background: rgba(18, 58, 58, 1);
  padding: 93px 100px;

  @include mobile {
    padding: 50px;
  }

  &__inner {
    display: flex;
    gap: 153px;

    @include mobile {
      flex-direction: column;
      gap: 0;
    }

    @include tablet {
      flex-direction: column;
      gap: 0;
    }

    &__right {
      display: flex;
      column-gap: 3rem;
      flex-wrap: wrap;

      &__column {
        width: 10rem;

        h2 {
          font-family: "lupio bold", sans-serif;
          font-size: 15px;
          line-height: 25px;
          text-transform: uppercase;
        }

        p {
          font-family: Inter, sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 20.54px;
          text-align: left;
        }

        a {
          color: #fff;
        }
      }
    }
  }
}

.grecaptcha-badge {
  display: none;
}
