.header {
  background: rgba(31, 91, 90, 1);
  height: 107px;

  &__links {
    &__link {
      a {
        display: inline-block;
        padding: .5rem;
      }
    }
  }

  &__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      height: 100%;
      gap: 1rem;

      @include mobile {
        gap: 0;
      }
    }

    &__logo {
      display: flex;
      align-items: center;

      a {
        display: block;
        width: 100px;
        height: 50px;
        position: relative;
      }

      @include mobile {
        padding: 1rem;
        width: 100px;
      }
    }

    &__button {
      display: flex;
      align-items: center;

      @include mobile {
        padding: 1rem;
      }

      button {
        background: rgba(241, 236, 232, 1);
        border-radius: 30px;
        box-shadow: -5.45px 5.45px 0px 0px rgba(18, 58, 58, 1);
        width: 161px;
        height: 59px;
        top: 24px;
        left: 1179px;
        padding: 18px 23px 19px 24px;
        font-family: "lupio bold", sans-serif;
        color: rgba(31, 91, 90, 1);
        text-transform: uppercase;

        @include mobile {
          width: 120px;
          height: 40px;
          font-size: .7rem;
          padding: 0;
        }
      }
    }

    &__mobile-menu {
      width: 2.2rem;
      background: transparent;
      border: 0;
      padding: 0;
      display: none;
      cursor: pointer;

      @include mobile {
        display: block;
      }

      @include tablet {
        display: block;
      }

      .segment {
        height: 3px;
        margin-bottom: 8px;
        background: #fff;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    a {
      color: rgba(241, 236, 232, 1);
      font-family: "lupio bold", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__drawer {
    &__drawer {
      width: 20rem;
      position: fixed;
      top: 0;
      right: -20rem;
      height: 100vh;
      background: #fff;
      z-index: 2;
      transition: right 1s;

      &.visible {
        right: 0;
        box-shadow: -4px 0px 12px 0px rgba(204,204,204,1);
      }

      &__inner {
        padding: 1rem;

        menu {
          list-style-type: none;
          margin: 0;
          padding: 0;

          a {
            text-decoration: none;
            display: block;
            padding: .5rem;
          }
        }
      }
    }
  }
}
