.hero {
  background: rgba(31, 91, 90, 1);
  padding: 8vw;

  @include mobile {
    padding: 35px;
  }

  &__inner {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    &__left {
      width: 60%;

      @include mobile {
        width: 100%;
      }

      h1 {
        font-family: "lupio black", sans-serif;
        font-size: clamp(1.5rem, 7vw, 120px);
        font-weight: 900;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgba(241, 232, 219, 1);
        text-transform: uppercase;
        margin: 0;
      }

      h2 {
        font-family: "lupio black", sans-serif;
        font-size: clamp(1rem, 4vw, 80px);
        font-weight: 900;
        text-align: left;
        color: rgba(241, 232, 219, 1);
        text-transform: uppercase;
        margin: 0;
      }

      p {
        color: rgba(241, 232, 219, 1);
        font-family: Inter, sans-serif;
        font-size: clamp(1rem, 2vw, 3rem);
      }
    }

    &__right {
      position: relative;
      width: 40%;

      img {
        rotate: 3.93deg;
        object-fit: contain;
      }
    }
  }
}
