@font-face {
  font-family: "lupio bold";
  src: url("/fonts/Fontspring-DEMO-lupio-bold.otf") format("opentype")
}

@font-face {
  font-family: "lupio black";
  src: url("/fonts/Lupio-Black.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

a {
  color: #1e5b5a;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

textarea {
  font-family: Arial, sans-serif;
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 1099px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1100px) and (max-width: 1499px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1500px) {
    @content;
  }
}

@import "./footer";
@import "./hero";
@import "./ribbon";
@import "./two-column";
@import "./bulletin-board";
@import "./newsletter";
@import "./header";
@import "./contact-form";
@import "./social-media";
@import "./placard";
@import "./membership-benefits";
@import "./two-cards";
@import "./text";
@import "./subscription-form";
@import "./subscription-term";
@import "./subscription-term-card";
@import "./subscription";
@import "./stripe";
@import "./button";
