.membership-benefits {
  max-width: 55rem;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
    font-family: "Lupio Black", sans-serif;
    color: rgba(31, 91, 90, 1);
  }

  p {
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

    .card {
      background: #f1ece8;
      padding: 1rem;
      display: flex;
      gap: 1rem;

      .image {
        position: relative;
        width: 147px;
      }

      p {
        text-align: left;
      }
    }

    .card:nth-child(1),
    .card:nth-child(4),
    .card:nth-child(5) {
      color: #fff;
      background: #1e5b5a;
    }
  }
}
