.newsletter {
  display: flex;
  gap: 2rem;
  background: rgba(31, 91, 90, 1);
  overflow: hidden;

  .left, .right {
    font-family: "Lupio Black", sans-serif;
    font-size: 12vw;
    font-weight: 900;
    line-height: 8vw;
    text-align: center;
    color: #356967;

    @include desktop-xl {
      font-size: 150px;
    }
  }

  .left {
    writing-mode: vertical-lr;
  }

  .right {
    writing-mode: vertical-lr;
    rotate: 180deg;
  }

  .middle {
    flex-grow: 1;
    text-align: center;
    padding: 2rem 0;

    form {
      display: flex;
      justify-content: center;
      gap: 1rem;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }

    h2 {
      font-family: "Lupio Black", sans-serif;
      font-size: clamp(2rem, 10vw, 150px);
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      color: rgba(241, 232, 219, 1);
      margin: 0;
    }

    p {
      font-family: Inter, sans-serif;
      font-size: 2vw;
      font-weight: 400;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      margin-top: 0;

      @include mobile {
        font-size: 4vw;
      }

      &.error-msg {
        color: red;
      }
    }

    input {
      border-radius: 50px;
      border: 0;
      height: 25px;
      width: 280px;
      padding: 20px;

      @include mobile {
        width: 100%;
      }
    }

    button {
      width: 126.38px;
      height: 63.97px;
      top: 25px;
      left: 534.14px;
      padding: 20.29px 25.38px 21.68px 26px;
      border-radius: 300px;
      background: rgba(241, 232, 219, 1);
      border: 0;
    }
  }
}
