.placard {
  background: #f1ece8;
  padding: 2rem 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
    white-space: pre-wrap;
    color: rgba(31, 91, 90, 1);
    font-size: 8vw;
    font-family: "lupio black", sans-serif;
    margin: 0;
    padding: 5rem 0 0;
  }

  p {
    white-space: pre-wrap;
    text-align: center;
  }
}
