.ribbon {
  display: flex;
  align-items: center;
  height: 16vw;
  max-height: 100px;
  overflow: hidden;

  .rfm-initial-child-container {
    gap: 1rem;
  }

  .rfm-child {
    display: flex;
    gap: 1rem;
  }

  .rfm-marquee {
    display: flex;
    gap: 1rem;
  }

  span {
    font-family: "lupio black", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color: rgba(31, 91, 90, 1);
    text-wrap: nowrap;
  }

  &.dark {
    background: rgba(18, 58, 58, 1);

    img.dark {
      filter: invert(100%);
    }

    span {
      color: #fff;
    }
  }
}
