.social-media {
  .channels {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .channel {
      display: flex;
      flex-direction: column;

      .image {
        text-align: center;
      }
    }
  }

  h2 {
    color: rgba(31, 91, 90, 1);
    text-align: center;
    text-transform: uppercase;
    font-family: "Lupio Black", sans-serif;
    font-size: 8vw;
    font-weight: 900;
  }

  p {
    text-align: center;
    white-space: pre-wrap;
  }
}
