.stripe-checkout {
  margin: 3rem 0;
}

.stripe-error {
  max-width: 30rem;
  margin: 3rem auto;

  h1 {
    color: #1E5B59;
  }
}

.stripe-success {
  max-width: 30rem;
  margin: 3rem auto;

  h1 {
    color: #1E5B59;
  }
}
