.subscription-term {
  margin-bottom: 2rem;

  h2 {
    color: #1e5b5a;
    text-transform: uppercase;
    font-family: "lupio black", sans-serif;
    font-size: clamp(1.5rem, 3.3vw, 41px);
    text-align: center;
  }

  &__cards {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
