.two-column {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .text, .image {
    width: 50%;

    @include mobile {
      width: 100%;
      min-height: 200px;
    }
  }

  .image {
    position: relative;

    img {
      object-fit: cover;
    }
  }

  .text {
    .inner {
      padding: clamp(1rem, 8vw, 60px);

      @include mobile {
        padding: 35px;
      }
    }
  }

  h3 {
    font-family: "lupio black", sans-serif;
    font-weight: 900;
    font-size: clamp(1.5rem, 5vw, 70px);
    text-transform: uppercase;
    margin: 0;
  }

  h4 {
    font-family: Inter, sans-serif;
    color: rgba(81, 81, 81, 1);
    font-size: 20px;
    margin-bottom: .4rem;
  }

  p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.91px;
    text-align: left;
    color: rgba(81, 81, 81, 1);
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &.light {
    background: rgba(241, 236, 232, 1);

    h3 {
      color: rgba(31, 91, 90, 1);
    }
  }
  &.dark {
    background: #1e5b5a;

    h3 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  a.button {
    display: block;
    box-sizing: border-box;
    width: 171px;
    max-width: 100%;
    height: 55px;
    padding: 18px 19px 19px 19px;
    border-radius: 100px;
    background: rgba(31, 91, 90, 1);
    font-family: "lupio bold", sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.6px;
    letter-spacing: 0.34328871965408325px;
    text-align: center;
    color: rgba(241, 236, 232, 1);
    box-shadow: -5.45px 5.45px 0px 0px rgba(18, 58, 58, 1);
    text-decoration: none;
  }
}
