.two-cards {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1rem;

  h2 {
    text-transform: uppercase;
    color: #1e5b59;
    font-size: clamp(1.7rem, 4.5vw, 4.5vw);
    font-family: "Lupio Black", sans-serif;
    text-align: center;
    margin-bottom: 0;
  }

  > .container > p {
    text-align: center;
  }

  .cards {
    display: flex;
    gap: 1rem;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    .card {
      width: calc(50% - .5rem);

      .inner {
        padding: 1rem;
      }

      @include mobile {
        width: 100%;
      }

      p {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }

      &.left-card {
        color: #fff;
        background: #1e5b59;
      }

      &.right-card {
        color: rgba(81, 81, 81, 1);
        background: #f1ece8;
      }
    }
  }
}
